.home_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  background-color: black;
  /* overflow: hidden; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: azure;
}

.logo {
  font-family: "Alkalami", sans-serif;
  font-size: 5vh;
  margin-left: 2vw;
  margin-top: 0.9vw;
  margin-right: 5vw;
}

.registered_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.search_input {
  width: 30vw;
}

.userControls {
  display: flex;
}

.addNewQuiz {
  width: 2vw;
  height: 4vh;
  border: none;
  border-radius: 1vh;
  background-color: rgba(65, 81, 248, 1);
  color: white;
  font-size: 2vh;
  cursor: pointer;
}

.userCabinet {
  margin-left: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 2.2vh;
  font-family: "Crimson Text", serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
